* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Amiri", serif;
  direction: rtl;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: 100px auto;
}

/* Top Nav */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #222;
  color: #ccc;
  position: sticky;
  top: 0;
  z-index: 5;
}
.top-nav .company-icons ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.top-nav .company-icons ul li a {
  color: #ccc;
  font-size: 18px;
  border: 1px solid grey;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.top-nav .company-icons ul li a:hover {
  background-color: orangered;
}

.top-nav .company-call {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #000;
}
.menu {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.navbar img {
  width: 60px;
  height: 60px;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
  padding: 40px 20px;
}
.navbar ul li .active {
  background-color: orangered;
  color: #fff;
}
.navbar ul li a:hover {
  background-color: orangered;
  color: #fff;
}

/* section-one */
.section-one {
  display: flex;
  justify-content: space-between;
}
.section-one h2 {
  font-size: 30px;
}
.section-one .sec-title {
  font-size: 45px;
}
.secion-one-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.secion-one-content img {
  width: 300px;
  cursor: pointer;
  transition: 0.5s;
}
.secion-one-content img:hover {
  opacity: 0.7;
}
.secion-one-content h2 {
  color: orangered;
}
.secion-one-content .section-one-details p {
  width: 55%;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
hr {
  opacity: 0.5;
  margin: 10px 0px;
}
.section-one-left-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.section-one-left-content img {
  width: 150px;
}
.section-one-left-content .section-one-left-details h2 {
  font-size: 18px;
  color: orangered;
}
.section-one-left-content .section-one-left-details h5 {
  margin-top: 30px;
  font-size: 16px;
  opacity: 0.5;
}
.section-one-map {
  margin-top: 20px;
}
/* about */

.about .about-title {
  text-align: center;
  font-size: 40px;
  color: orangered;
}
.about h3 {
  font-size: 30px;
  margin: 50px auto;
}
.about .about-paragraph {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  width: 80%;
  margin: auto;
}

/* testimonials */
.testimonials h2 {
  text-align: center;
  margin: 100px 0px;
  font-size: 40px;
  color: orangered;
}

.testimonials .testimonial {
  width: 32%;
  background-color: orangered;
  color: #fff;
  padding: 20px;
  height: 400px;
}
.testimonails-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.testimonials .testimonial > *{
  margin-top: 20px;
}
.testimonials .testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .testimonial h3{
  font-size: 25px;
}
.testimonials .testimonial p{
  font-size: 18px;
  line-height: 1.5;
}
/* footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 50px;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-content h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: orangered;
}
.footer-content ul {
  list-style: none;
}
.footer-content ul li {
  margin-top: 20px;
}
.footer-content ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
.footer-content ul li a:hover {
  color: orangered;
}
.footer-content .footer-link div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
  margin-top: 20px;
}

/* Service Page */
.services {
  display: flex;
}
.services-content {
  margin: 50px 0px;
}
.service-area {
  margin: 50px 0px;
}
.services-content h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  background-color: orangered;
  width: max-content;
  margin: auto;
  padding: 10px 30px;
}
.services-content h3 {
  font-size: 30px;
  color: orangered;
  margin: 20px 0px;
}
.services-content p {
  font-size: 18px;
  font-weight: bold;
  width: 70%;
  margin: 40px 0px;
  line-height: 1.5;
}
.services-content ol li {
  margin-top: 15px;
}
.services-content ol li a {
  color: #000;
  /* text-decoration: none; */
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}
.services-content ol li a:hover {
  color: orangered;
}

.services-content ul li {
  margin: 40px 0px;
  width: 200px;
}
.services-content ul {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
  list-style: none;
}
.services-content ul li a {
  color: #fff;
  /* text-decoration: none; */
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
  background-color: #000;
  padding: 20px;
}
.services-content ul li a:hover {
  background-color: orangered;
}

.service-left img {
  width: 400px;
  height: 300px;
}

/* Contact Page */

.contact-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact-right {
  background-color: #ccc;
  padding: 20px;
}
.contact-right h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: orangered;
}
.contact-right form label {
  font-size: 18px;
  font-weight: bold;
}
.contact-right form {
  width: 600px;
}
.contact-right form input {
  width: 60%;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
}
.contact-right form textarea {
  margin-top: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.contact-right button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: orangered;
  color: #fff;
  transition: 0.5s;
}
.contact-right button:hover{
  background-color: rgb(206, 59, 6);
}


@media screen and (max-width: 450px) {
  .top-nav {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 40px;
  }
  .top-nav h2 {
    font-size: 16px;
  }

  .navbar {
    justify-content: space-between;
    padding: 20px 40px;
    position: relative;
    width: 100%;
  }
  .menu {
    display: block;
  }
  .navbar ul {
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 100px;
    right: -101%;
    background-color: #444;
    padding: 20px;
    width: 100%;
    transition: 0.5s;
  }
  .navbar ul.show {
    right: 0;
  }
  .navbar ul li a {
    padding: 10px;
  }
  /* section-one */
  .section-one {
    flex-direction: column;
  }
  .section-one h2 {
    text-align: center;
  }
  .section-one .sec-title {
    font-size: 45px;
  }
  .secion-one-content {
    flex-direction: column;
    gap: 20px;
  }
  .secion-one-content img {
    width: 300px;
  }
  .secion-one-content h2 {
    color: orangered;
  }
  .secion-one-content .section-one-details p {
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }
  .section-one-left {
    margin-top: 30px;
  }
  .section-one-left-content {
    flex-direction: column;
  }
  .section-one-left-content img {
    width: 300px;
  }
  .section-one-left-content .section-one-left-details h5 {
    text-align: center;
  }
  .section-one-map {
    max-width: 100%;
  }

  /* Services Page */

  .services-content {
    margin: 50px 20px;
  }
  .service-area {
    margin: 50px 0px;
  }
  .services-content h2 {
    font-size: 25px;
    margin: 0px 70px;
  }
  .services-content h3 {
    font-size: 30px;
    margin: 20px 0px;
  }
  .services-content p {
    font-size: 16px;
    width: 80%;
    margin: 40px 0px;
  }
  .services-content ol li {
    margin-top: 15px;
  }
  .services-content ol li a {
    font-size: 16px;
  }
  .services-content ol li a:hover {
    color: orangered;
  }


  .services-content ul {
    flex-direction: column;
    
  }
  .services-content ul li{
    width: 100%;
    text-align: center;
  }
  .services-content ul li a {
    color: #fff;
    /* text-decoration: none; */
    font-size: 20px;

  }

.service-left{
  display: none;
}

  /* Contact Page */

  .contact-content {
    flex-direction: column;
  }

  .contact-right form label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-right: 0px;
    margin-top: 20px;
  }
  .contact-right form {
    width: 600px;
  }
  .contact-right form input {
    width: 45%;
    margin: 20px auto;
  }
  .contact-right form textarea {
    width: 250px;
  }
  .contact-left iframe {
    width: 100%;
  }

  /* about */

.about .about-title {
  font-size: 30px;
}
.about h3 {
  font-size: 20px;
}

/* testimonials */
.testimonials h2 {
  font-size: 30px;
}

.testimonials .testimonial {
  width: 100%;
  margin-top: 20px;
}
.testimonails-content {
  flex-direction: column;
}
.testimonials .testimonial > *{
  margin-top: 20px;
}
.testimonials .testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .testimonial h3{
  font-size: 25px;
}
.testimonials .testimonial p{
  font-size: 18px;
  line-height: 1.5;
}

  /* footer */
  .footer {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}
